.dayViewSection {
  max-width: fit-content;
  height: 108px;
  display: flex;
  gap: 4px;
  border-radius: 4px;
  margin: 14px;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}

.dayView {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background-color: #151b23ff;
  transition: background-color 0.2s ease;
}

.dayView100 {
  background-color: #56d364ff;
}

.dayView90 {
  background-color: #56d364ff;
}

.dayView80 {
  background-color: #2ea043ff;
}

.dayView70 {
  background-color: #2ea043ff;
}

.dayView60 {
  background-color: #196c2eff;
}

.dayView50 {
  background-color: #196c2eff;
}

.dayView40 {
  background-color: #033a16ff;
}

.dayView30 {
  background-color: #033a16ff;
}

.dayView20 {
  background-color: #033a16ff;
}

.dayView10 {
  background-color: #151b23ff;
}

.dayView0 {
  background-color: #151b23ff;
}


@media (max-width: 1180px) {
  .dayViewSection {
    height: 145px;
    gap: 5.5PX;
  }
  .dayView {
    width: 16px;
    height: 16px;
    border-radius: 5px;

  }
}