.dayViewSection {
  max-width: fit-content;
  height: 120px;
  display: flex;
  grid-template-rows: repeat(7, 13px);
  grid-template-columns: repeat(45, 13px);
  grid-auto-flow: column;
  gap: 4px;
  border-radius: 4px;
  margin: 14px;
  justify-content: flex-start;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}

.dayView {
  width: 12px;
  height: 12px;
  border: solid 0.5px #151b23ff;
  border-radius: 4px;
  background-color: #151b23ff;
  transition: background-color 0.2s ease;
}

.dayView100 {
  background-color: #56d364ff;
}

.dayView90 {
  background-color: #56d364ff;
}

.dayView80 {
  background-color: #2ea043ff;
}

.dayView70 {
  background-color: #2ea043ff;
}

.dayView60 {
  background-color: #196c2eff;
}

.dayView50 {
  background-color: #196c2eff;
}

.dayView40 {
  background-color: #033a16ff;
}

.dayView30 {
  background-color: #033a16ff;
}

.dayView20 {
  background-color: #033a16ff;
}

.dayView10 {
  background-color: #151b23ff;
}

.dayView0 {
  background-color: #151b23ff;
}

/* @media (max-width: 768px) {
  .dayViewSection {
    grid-template-columns: repeat(20, 18px);
  }
}

@media (max-width: 480px) {
  .dayViewSection {
    grid-template-columns: repeat(15, 16px);
  }
  
  .dayView {
    width: 16px;
    height: 16px;
  }
} */
