.box-card {
    align-self: stretch;
    padding: 12px;
    background: rgba(18, 18, 18, 0.70);
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }
  
  .box-title {
    align-self: stretch;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--W-1, white);
    font-size: 18px;
    font-weight: 600;
  }
  
  .box-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2px;
  }
  
  .box-row {
    align-self: stretch;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .box-column {
    align-self: stretch;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .box-price {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--W-1, white);
    font-size: 17.68px;
    font-weight: 400;
  }
  
  
  .box-days {
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--W-5, #D6D6D6);
    font-size: 12px;
    font-weight: 400;
  }
  
  .box-date {
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--W-3, #EBEBEB);
    font-size: 16px;
    font-weight: 600;
  }
  
  .box-description {
    align-self: stretch;
    text-align: right;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--W-5, #D6D6D6);
    font-size: 14px;
    font-weight: 400;
  }

  .progress-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }
  
  .progress-label {
    text-align: left;
    font-weight: 600;
    color: #fff;
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17.675px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 15.15px;
    background: #333;
    overflow: hidden;
  }
  
  .progress-fill {
    height: 100%;
    background: yellow;
    transition: width 0.4s ease;
  }
  
  .progress-text {
    text-align: left;
    font-size: 12px;
    color: #ccc;
  }