:root {
  --hue: 27;
  --sat: 69%;
  /*
  --white: hsl(0, 0%, 100%);
  --purple-primary: rgba(132, 0, 255, 1);
  --purple-glow: rgba(132, 0, 255, 0.2);
  --purple-border: rgba(132, 0, 255, 0.8);
  --border-color: #392e4e;
  --background-dark: #060010;
  */
  --white: hsl(0, 0%, 100%);
  --purple-primary: rgba(132, 0, 255, 0.474);
  --purple-glow: rgba(132, 0, 255, 0.079);
  --purple-border: #8400ff2a;
  --border-color: #392e4e;
  --background-dark: #ffffff04;
  color-scheme: light dark;
}







.mainGrid {
  width: 100%;
  height: calc(100vh - 110px);
  min-height: 500px;
  max-height: 1000px; 
  max-width: 1440px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-block: 24px;
  margin-inline: 24px;
}

/* .mainGridpar.nav-active {
  position: absolute;
  left: 348px;
  width: calc(100% - 922px);
} */

.mainGridpar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column1 { 
  min-width: 300px;
  max-width: 300px;
}

.column2 { 
  width: 100%;
}

.column3 { 
  min-width: 300px;
  max-width: 300px;
}

.clockWidget {
  height: 200px !important;
}

.shortcutWidget {
  height: fit-content !important;
}

.notesWidget {
  height: calc(100% - 209px) !important;
}

.tasksWidget {
  height: calc(100% - 204px) !important;
}

.taskaria {
  padding: 0 14px 14px 14px;
  height: calc(100% - 14px);
}

.lifeViewerWidget{
  height: 176px !important;
}

.boxesWidget{
  height: 100% !important;
}

@media only screen and (max-width: 1180px) {
  .column1 { 
    max-width: fit-content;
  }
  .column2 {
    width: calc(100% - 48px);
  }
  .column3 { 
    min-width: 300px;
    width: 100%;
    max-width: calc(100% - 372px);
  }
  .mainGridpar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .lifeViewerWidget{
    height: 243px !important;
  }
}

@media only screen and (max-width: 685px) {
  .column1 { 
    min-height: 500px;
    max-height: 700px;
    width: 100%;
    max-width: calc(100% - 24px);
  }
  .column2 {
    min-height: 500px;
    max-height: 700px;
    width: 100%;
    max-width: calc(100% - 24px);
  }
  .column3 { 
    min-height: 500px;
    max-height: 700px;
    width: 100%;
    max-width: calc(100% - 24px);
  }
  .mainGrid {
    width: 100%;
    height: auto;
    max-height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .lifeViewerWidget{
    height: 230px !important;
  }
}

.notEffect {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 1px solid var(--border-color);
  background: var(--background-dark);
  backdrop-filter: blur(10.5px);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
}

/* .notEffect:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
} */