.liquid-glass {

    /* border-radius:33.040000000000006px; */
    position: relative;
    isolation: isolate;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
  }
  
  .liquid-glass:focus {
    outline: none;
  }
  
  .liquid-glass::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    /* border-radius: 33.040000000000006px; */
    box-shadow: inset 0 0 9px -2px #000000;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .liquid-glass::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    /* border-radius: 33.040000000000006px; */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    filter: url(#glass-distortion);
    -webkit-filter: url(#glass-distortion);
  }
  
  .glass-text {
    position: relative;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translate(0px, 0px);
    font-family: 'Georgia', 'Microsoft YaHei', '微软雅黑', serif;
  }