.mobileNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    width: calc(100% - 28px);
    height: fit-content;
    left: 14px;
    bottom: 14px;
    overflow: hidden;
    z-index: 3;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    display: contents;
  }
.radio-input input {
    display: none;
  }
.radio-input {
    color: #fff;
    overflow: hidden;
}
.radio-input label {
    width: 24px;
    height: 24px;
    padding: 14px;
    border: solid 0.5px #fff;
    cursor: pointer;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.15, 0.4, 0.8, 1);
    /* background-color: #000000d6; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.radio-input label span {
    position: absolute;
    opacity: 0;
    transform: translateX(120px);
    transition: opacity 0ms cubic-bezier(0.15, 0.4, 0.8, 1), transform 400ms cubic-bezier(0.15, 0.4, 0.8, 1);
    overflow: hidden;
}
.radio-input .item2{
    border-radius: 9999px 0 0 9999px !important;
    border-right: 0px;
}
.radio-input .item3{
    border-left: 0px;
    border-right: 0px;
}
.radio-input .item4{
    border-radius: 0 9999px 9999px 0 !important;
    border-left: 0px;
}
/* کلیک روی همه */
.radio-input label:has(input:checked) {
    border: solid 0.5px #9000ff;
    width: fit-content !important;
    /* backdrop-filter: blur(10.5px); */
    width: clamp(150px, 100%, 150px) !important;
}
.radio-input label:has(input:checked) span{
    position: relative;
    opacity: 1;
    transform: translateX(0);  
}
/* ایتم دوم */
.radio-input .item2:has(input:checked) {
    border-radius: 9999px !important;
    margin-right: 8px;
    margin-left: 8px;
}
.radio-input:has(.item2 input:checked) .item3 {
    border-radius: 9999px 0 0 9999px !important;
    border-left: solid 0.5px;
}
.radio-input:has(.item2 input:checked) .item4 {
    border-radius: 0 9999px 9999px 0 !important;
    border-left: 0px !important;
}
/* ایتم سوم */
.radio-input .item3:has(input:checked) {
    width: 150px !important;
    border-radius: 9999px !important;
    margin-right: 8px;
    margin-left: 8px;
}
.radio-input:has(.item3 input:checked) .item2 {
    border-left: 0px !important;
    border-radius: 9999px !important;
    border-left: solid 0.5px !important;
    border-right: solid 0.5px !important;
    /* backdrop-filter: blur(10.5px); */
}
.radio-input:has(.item3 input:checked) .item4 {
    border-right: 0px !important;
    border-radius: 9999px !important;
    border-left: solid 0.5px !important;
    border-right: solid 0.5px !important;
    /* backdrop-filter: blur(10.5px); */
}
/* ایتم چهارم */
.radio-input .item4:has(input:checked) {
    width: 150px !important;
    border-radius: 9999px !important;
    margin-right: 8px;
    margin-left: 8px;
}
.radio-input:has(.item4 input:checked) .item2 {
    border-radius: 9999px 0 0 9999px !important;
}
.radio-input:has(.item4 input:checked) .item3{
    border-radius: 0 9999px 9999px 0 !important;
    border-right: solid 0.5px !important;
}


