.notes {
    box-sizing: border-box;
    display: flex;
    direction: rtl;
    width: 100%;
    height: calc(100% - 40px);
    gap: 14px;
    padding: 14px;
}

.note {
    width: calc(33% - 14px);
    height: calc(100% - 28px);
    background-color: var(--B2);
    border-radius: 14px;
    padding: 14px 14px 14px 0;
}

.note p::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

.note p::-webkit-scrollbar-thumb {
    background-color: #00000000;
  }

.note p:hover::-webkit-scrollbar-thumb {
    background-color: var(--p2);
  }


.note p {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}