.notes {
    box-sizing: border-box;
    display: flex;
    direction: rtl;
    width: 100%;
    height: calc(100% - 40px);
    gap: 14px;
    padding: 14px;
}

.note {
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    background-color: var(--B2);
    border-radius: 14px;
    padding: 14px 14px 14px 0px;
}

.note p::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

.note p::-webkit-scrollbar-thumb {
    background-color: #00000000;
  }

.note p:hover::-webkit-scrollbar-thumb {
    background-color: var(--p2);
  }


.note p {
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media only screen and (max-width: 685px) {
  .notes {
    flex-direction: column;
  }
  .note {
    box-sizing: border-box;
    width: 100%;
  }
}