.NotFound {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    position:absolute;
    top: calc(50% - 118px);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}