.showTask {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 12px;
    background-color: var(--B1);
    border-radius: 8px;
}

.taskInfo {
    display: flex;
    flex-direction: row-reverse;
}

.taskInfoTitle {
    font-size: 12px;
    font-weight: 400;
    width: 80px;
}

.taskInfoValue {
    font-size: 12px;
    font-weight: 200;
}

.taskName {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 2px;
    border-color: #ffffff44;
}
.checkList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.daynum p {
    width: 25px;
    height: 25px;
    border-radius: 9999px;
    background-color: var(--B1);
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.tasksList {
    gap: 12px;
    display: flex;
    flex-direction: row-reverse;
}