.card-spotlight {
  position: relative;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
  overflow: hidden;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  backdrop-filter: blur(10.5px);
}

.card-spotlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}