.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inGlassBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
}

.oldGlassBox {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  backdrop-filter: blur(10.5px);
}

.backgrond {
  position: fixed;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  z-index: -1;
  pointer-events: none;
}

.parent {
    width: 100%;
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}
    
.contents-300 {
    grid-column: span 3 / span 3;
}

.contents-100-1 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
    grid-row-start: 1;
}

.contents-100-2 {
    grid-column: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 1;
}

.contents-400 {
    grid-column: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.contents {
  gap: 12px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.mainSection {
  min-width: 100%;
  min-height: 100vh;
}

.inliner {
  padding-top: 100px;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  position: relative;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
}

.navItemSection {
  top: 0;
  right: 0;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #ffffff56;
  height: 100vh;
  width: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
  z-index: 999;
}

.appHeader {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.headerSection {
    padding: 24px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.headeritem {
  padding-inline: 24px;
  padding-block: 12px;
  gap: 24px;
}

.logotype {
  font-family: "Compressa VF";
  font-size: 25px;
  font-style: italic;

}
@font-face {
  font-family: 'Compressa VF';
  src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
  font-style: italic;
}

.navHeaderItem {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 14px;
}



.text-pressure-title {
  width: 97vw;
}

.inliner.nav-active {
  padding-right: 231px;
  padding-top: 0px;
}

.text-pressure-title.nav-active {
  width: calc(97vw - 230px);
}