.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  color: var(--w1);
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}


.inGlassBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
}

.oldGlassBox {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  backdrop-filter: blur(10.5px);
}

.backgrond {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

@media only screen and (max-width: 640px) {
.parent{
  display: flex;
  flex-direction: column;
}
.quixie{
display: none;
}
}

.quixie{
  overflow: hidden;
  padding-right: 14px;
  border-radius: 9999px;
  border: 1px solid #ffffff56;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
}

.input{
  background: #00000000;
  border: 0px;
  padding: 10px;
  text-align: right;
  direction: rtl;
  color: var(--w1);
  font-family: 'YekanBakh';
  border-bottom: solid 2px var(--B10);
  background-position: 7.5px 7.5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}


.mainSection {
  min-width: 100%;
  min-height: 100vh;
}

.inliner {
  padding-top: 60px;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  position: relative;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
}

.appHeader {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.headerSection {
  padding: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.headeritem {
  display: flex;
  padding: 0px;
  align-items: center;
}
.navOpenIcon{
  width: 135px;
  display: flex;
  justify-content: flex-end;
}
.logoSection{
  width: 135px;
  display: flex;
  gap: 12px;

}

.logotype {
  font-family: "Compressa VF";
  font-size: 25px;
  font-style: italic;

}

.text-pressure-title {
  width: 97vw;
}

.inliner.nav-active {
  padding-right: 225px;
  padding-top: 0px;
}

.text-pressure-title.nav-active {
  width: calc(97vw - 225px);
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.dateSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digital-clock {
  font-family: 'Digital-7-Mono', monospace;
  letter-spacing: 4px;
  font-size: 34px;
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dateSection p {
  font-size: 16px;
  margin: 0;
}

.navItemSection {
  top: 0;
  right: 0;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #ffffff56;
  height: 100vh;
  width: fit-content;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px;
  gap: 0px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
  z-index: 999;
}

.navHeade {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.navHeaderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 54px;
  gap: 14px;
}

.navItem {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 12px 0px 12px;
gap: 10px;
width: 200px;
height: 54px;
}
.enableItem, .navItem:hover {
  background: #ffffff11;
}

.navItem p {
  font-size: 16px;
}

 .navItemSection a {
  color: var(--W1); /* رنگ پیش‌فرض لینک */
  text-decoration: none; /* حذف زیرخط */
}

 .navItemSection a:visited {
  color: var(--W1); /* رنگ لینک بعد از کلیک */
}













.input-wrapper {
  width: 100%;
  height: 40px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 40px;
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #00000000;
  color: white;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}
.Subscribe-btn {
  height: 100%;
  width: 50px;
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #ffffff00;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  /* display: none; */
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
  fill: #ffffff;
}
.input-wrapper:active .icon {
  transform: scale(2) translateY(7px) translateX(-5px) rotateZ(30deg);
}
.Subscribe-btn:hover {
  color: #ffffff00;
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}



.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--w5);
  font-weight: 200;
}

.titleDiv {
  padding: 14px;
  z-index: 1;
  position: absolute;
  height: 45px;
  width: calc(100% - 28px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  
  background: #1d002e55;
  mask: linear-gradient(black, black, transparent);
  backdrop-filter: blur(8px);
}


.sortCuts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.shortCut {
  box-sizing:border-box;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  padding-block: 7px;
  /* padding-inline: 7px; */
  padding-inline: 24px;
}

.shortCut:hover {
  background: #ffffff11;
}

.shortCutPhoto {
  width: 35px;
  height: 35px;
} 

.shortCutTitle{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

.shortCutSubtitle{
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--w5);
  font-weight: 200;
}


.taskType {
  cursor: default;
  height: 47px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.formLable {
  cursor: default;
  height: 47px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.formLable span{  
  font-size: 14px;
  display: flex;
  align-items: center;
  color: var(--W1);
}

.formLable2 {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0px;
  gap: 6px;
}

.formLable2 svg {
  width: 16px;
  height: 16px;
  fill: var(--W1);
}

.formLable2 span {
  font-size: 12px;
  display: flex;
  align-items: center;
  color: var(--W1);
}

.weekDay {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 8px;
  margin-top: 12px;
}








.mainGrid {
width: 100%;
height: calc(100vh - 110px);
min-height: 500px;
max-height: 1000px; 
max-width: 1440px;
display: flex;
justify-content: center;
gap: 24px;
margin-block: 24px;
margin-inline: 24px;
}

.mainGridpar.nav-active {
  position: absolute;
  left: 348px;
  width: calc(100% - 922px);
}
.mainGridpar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.column1 { 
  min-width: 300px;
  max-width: 300px;
}
.column2 { 
  width: 100%;
}
.column3 { 
  min-width: 300px;
  max-width: 300px;
}

.clockWidget {
  height: fit-content;
}
.shortcutWidget {
  height: fit-content;
}
.notesWidget {
  height: calc(100% - 209px);
}
.tasksWidget {
  height: calc(100% - 204px);
}
.lifeViewerWidget{
  height: fit-content;
}

.widget {
  height: 100%;
}


.appsShortcut {
  display: flex;
  gap: 14px;
  align-items: flex-start;
  justify-items: start;
  height: fit-content;
}
.shortCutIcon {
  border: solid 1px #ffffff;
  border-radius: 20%;
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}
.appShort {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.appsShortcut::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.appsShortcut::-webkit-scrollbar-thumb {
  background-color: var(--p2);
  border-radius: 10px;
  border: 0px;
}

.appsShortcut::-webkit-scrollbar-track {
  background: #00000000;
}

.appsShortcut::selection {
  background: #00000000;
  color: #00000000;
}

.editButton {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #ffffff33;
  box-sizing: border-box;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 4px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
 }
 
 .editButton:disabled {
  pointer-events: none;
 }
 
 .editButton:hover {
  background-color: #ffffff33;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateX(0px);
 }
 
 .editButton:active {
  box-shadow: none;
  transform: translateY(0);
 }