.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

p {
  color: var(--w1);
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}


.inGlassBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
}

.oldGlassBox {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  backdrop-filter: blur(10.5px);
}

.backgrond {
  position: fixed;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  z-index: -1;
  pointer-events: none;
}

.parent {
    width: 100%;
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}
    
.contents-300 {
    grid-column: span 3 / span 3;
}

.contents-100-1 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
    grid-row-start: 1;
}

.contents-100-2 {
    grid-column: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 1;
}

.contents-400 {
    grid-column: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.contents {
  gap: 12px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.mainSection {
  min-width: 100%;
  min-height: 100vh;
}

.inliner {
  padding-top: 60px;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  position: relative;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
}

.appHeader {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.headerSection {
  padding: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.headeritem {
  display: flex;
  padding: 0px;
  align-items: center;
}
.navOpenIcon{
  width: 135px;
  display: flex;
  justify-content: flex-end;
}
.logoSection{
  width: 135px;
  display: flex;
  gap: 12px;

}

.logotype {
  font-family: "Compressa VF";
  font-size: 25px;
  font-style: italic;

}

.text-pressure-title {
  width: 97vw;
}

.inliner.nav-active {
  padding-right: 225px;
  padding-top: 0px;
}

.text-pressure-title.nav-active {
  width: calc(97vw - 225px);
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.dateSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digital-clock {
  font-family: 'Digital-7-Mono', monospace;
  letter-spacing: 4px;
  font-size: 34px;
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dateSection p {
  font-size: 16px;
  margin: 0;
}

.navItemSection {
  top: 0;
  right: 0;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #ffffff56;
  height: 100vh;
  width: fit-content;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px;
  gap: 0px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
  z-index: 999;
}

.navHeade {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.navHeaderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 54px;
  gap: 14px;
}

.navItem {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 12px 0px 12px;
gap: 10px;
width: 200px;
height: 54px;
}
.enableItem, .navItem:hover {
  background: #ffffff11;
}

.navItem p {
  font-size: 16px;
}

 .navItemSection a {
  color: var(--W1); /* رنگ پیش‌فرض لینک */
  text-decoration: none; /* حذف زیرخط */
}

 .navItemSection a:visited {
  color: var(--W1); /* رنگ لینک بعد از کلیک */
}













.input-wrapper {
  width: 100%;
  height: 40px;
  padding: 5px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 40px;
  margin-left: 8px;
  transition: all 0.3s;
}
.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #00000000;
  color: white;
  font-size: 1em;
}
.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
  -webkit-text-fill-color: #ffffff;
}
.Subscribe-btn {
  height: 100%;
  width: 50px;
  border: none;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #ffffff00;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s;
}
.arrow {
  /* display: none; */
  position: absolute;
  margin-right: 150px;
  transition: all 0.3s;
  fill: #ffffff;
}
.input-wrapper:active .icon {
  transform: scale(2) translateY(7px) translateX(-5px) rotateZ(30deg);
}
.Subscribe-btn:hover {
  color: #ffffff00;
}
.Subscribe-btn:hover .arrow {
  margin-right: 0;
  animation: jello-vertical 0.9s both;
  transform-origin: right;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.Subscribe-btn:active {
  transform: scale(0.9);
}



.title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--w5);
  font-weight: 200;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
}

.sortCuts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.shortCut {
  box-sizing:border-box;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  padding-block: 7px;
  /* padding-inline: 7px; */
  padding-inline: 24px;
}

.shortCut:hover {
  background: #ffffff11;
}

.shortCutPhoto {
  width: 35px;
  height: 35px;
}

.shortCutTitle{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}

.shortCutSubtitle{
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: var(--w5);
  font-weight: 200;
}

.editButtonDiv {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}