.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.inGlassBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
}

.oldGlassBox {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  backdrop-filter: blur(10.5px);
}

.backgrond {
  position: fixed;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  z-index: -1;
  pointer-events: none;
}

.parent {
    width: 100%;
    margin: 24px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 12px;
}
    
.contents-300 {
    grid-column: span 3 / span 3;
}

.contents-100-1 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
    grid-row-start: 1;
}

.contents-100-2 {
    grid-column: span 2 / span 2;
    grid-column-start: 8;
    grid-row-start: 1;
}

.contents-400 {
    grid-column: span 4 / span 4;
    grid-column-start: 4;
    grid-row-start: 1;
}

.contents {
  gap: 12px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.mainSection {
  min-width: 100%;
  min-height: 100vh;
}

.inliner {
  padding-top: 60px;
  display: flex;
  flex-direction: row-reverse;
}

.box {
  position: relative;
  border-radius: 14px;
  border: 1px solid #ffffff56;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;
  gap: 24px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
}

.appHeader {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.headerSection {
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.headeritem {
  padding-inline: 24px;
  padding-block: 12px;
  gap: 24px;
}

.logotype {
  font-family: "Compressa VF";
  font-size: 25px;
  font-style: italic;

}

.text-pressure-title {
  width: 97vw;
}

.inliner.nav-active {
  padding-right: 225px;
  padding-top: 0px;
}

.text-pressure-title.nav-active {
  width: calc(97vw - 225px);
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 24px;
}

.dateSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digital-clock {
  font-family: 'Digital-7-Mono', monospace;
  letter-spacing: 4px;
  font-size: 34px;
}

.dateDisplay {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dateSection p {
  font-size: 16px;
  margin: 0;
}

.navItemSection {
  top: 0;
  right: 0;
  border-radius: 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #ffffff56;
  height: 100vh;
  width: fit-content;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px;
  gap: 0px;
  background-color: #ffffff11;
  backdrop-filter: blur(10.5px);
  z-index: 999;
}

.navHeade {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.navHeaderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 54px;
  gap: 14px;
}

.navItem {
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px 12px 0px 12px;
gap: 10px;
width: 200px;
height: 54px;
}
.enableItem, .navItem:hover {
  background: #ffffff11;
}

.navItem p {
  font-size: 16px;
}

 .navItemSection a {
  color: var(--W1); /* رنگ پیش‌فرض لینک */
  text-decoration: none; /* حذف زیرخط */
}

 .navItemSection a:visited {
  color: var(--W1); /* رنگ لینک بعد از کلیک */
}