:root {
  --B1: #121212;
  --B2: #1E1E1E;
  --B3: #232323;
  --B4: #252525;
  --B5: #272727;
  --B6: #2C2C2C;
  --B7: #2E2E2E;
  --B8: #333333;
  --B9: #363636;
  --B10: #383838;

  --w1: #FFFFFF;
  --w2: #F5F5F5;
  --w3: #EBEBEB;
  --w4: #E0E0E0;
  --w5: #D6D6D6;
  --w6: #CCCCCC;
  --w7: #C2C2C2;
  --w8: #B8B8B8;
  --w9: #ADADAD;
  --w10: #A3A3A3;

  --p1: #501BCE;
  --p2: #6528F7;
  --p2-1: #6b46c1;  
  --p3: #7D49F8;
  --p4: #B89CFC;
  --p5: #DBCDFD;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/200-YekanBakh-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/300-YekanBakh-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/400-YekanBakh-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/500-YekanBakh-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/600-YekanBakh-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/700-YekanBakh-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/800-YekanBakh-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'YekanBakh';
  src: url('fonts/900-YekanBakh-ExtraBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Digital-7';
  src: url('fonts/digital-7.ttf') format('truetype');
}
@font-face {
  font-family: 'Digital-7-Italic';
  src: url('fonts/digital-7-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Digital-7-Mono';
  src: url('fonts/digital-7-mono.ttf') format('truetype');
}
@font-face {
  font-family: 'Digital-7-Mono-Italic';
  src: url('fonts/digital-7-mono-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Compressa VF';
  src: url('https://res.cloudinary.com/dr6lvwubh/raw/upload/v1529908256/CompressaPRO-GX.woff2');
  font-style: italic;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--p2);
  border-radius: 10px;
  border: 3px solid var(--B2);
}

::-webkit-scrollbar-track {
  background: var(--B2);
  border-radius: 0px;
}

::selection {
  background: var(--p4);
  color: var(--B2);
}

body {
  background-color: var(--B1);
  margin: 0;
  color: var(--w1);
  font-family: -apple-system, BlinkMacSystemFont, 'YekanBakh', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3,h4,h5,h6 {
  color: var(--w1);
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: var(--w1);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  background-color: var(--p1);
  margin: 0em 0em 0em 0em;
  padding-block: 0px;
  padding-inline: 0px;
  border-width: 0px;
  border-radius: 16px;
  border-style: inset;
  border-color: var(--p1);
  border-image: initial;
}